.header {
	font-family: 'Kalam', cursive;
	font-size: 36px;
	text-align: center;
	color:rgba(51, 50, 50, 0.822)
    // font-family: 'Montagu Slab', serif;
}
.site-dropdown-context-menu {
	color: #777;
	background: #f7f7f7;
  }
  .nav {
	color: #292828;
	height: 50px;
	max-width: 1000px;
	margin: 0 auto;
	font-family: 'Alegreya', serif;
	display: flex;
	justify-content: space-between; 
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	// margin: 20px;
	align-items: center;
	text-transform: uppercase;
	background-color: rgb(192, 190, 190);
  }
  .navLinks {
	  margin: 10px 20px;
  }
  .footer{
	min-height: 180px;
	max-width: 1000px;
	margin: 0 auto;
	background-color:rgb(126, 126, 126);
	height: 64px;
  }
  .footer_text{
	max-height: 20px;
	font-family: 'Kalam', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 43px;
	display: flex;
	justify-content: center;
	padding-top: 16px;
	color: #ffffff;
  
	opacity: 0.8;
  }
  .footer_text1{
	max-height: 20px;
	font-family: 'Kalam', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 43px;
	display: flex;
	justify-content: center;
	padding-top: 16px;
	color: #ffffff;
  
	opacity: 0.8;
  }
  .departmentText {
	font-family: 'Kalam', cursive;
	margin: 30px 0;
	font-size: 30px;
	text-align: center;
  }
  .reviewBox {
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
	// display: flex;
	
  }
  .image {
	display: block;
	  width: 200px;
	  height: 300px;
	  margin: 20px auto;

  }
  .line{
	  border: 0.5px solid rgb(97, 95, 95);
	  border-radius: 0.5px;
	  margin: 30px auto;
  }
  .bookReview {
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: 'Alegreya', serif;
	font-size: 18px;
	text-align: justify;
  }
  .bookReview:hover{
	white-space: normal;
	
  }
.bookReviewTitle {
	font-family: 'Alegreya', serif;
	font-size: 22px;
    font-weight: bold;
    text-align: center;
	margin-top: 20px;
}
.genres {
	font-family: 'Alegreya', serif;
	color: rgb(131, 127, 127);
	font-size: 16px;
    text-align: center;
	margin-top: 10px;
}
.selectionItem {
	max-width: 1000px;
	height: 100%;
	margin: 10px auto;
	width: auto;
	height: 100px;
	border: 1px solid grey;
	border-radius: 5px;
	box-shadow: 0px 1px 3px;

}
.selectionItem:hover {
	background-image: radial-gradient(ellipse farthest-corner at 50% 50%, #bed9db,#777);
}
.selectionItemTitle {
	font-family: 'Kalam', cursive;
	font-size: 26px;
	color: rgb(104, 103, 103);
	text-align: center;
	margin: 30px auto;
}
.selectionBox {
	display: flex;
	position: relative;
}
.imgSelection {
// 	display: flex;
// position:relative;
margin: 20px 0;
	width: 150px;
    height: 220px;
}
.annotationSelection {
	max-width: 1000px;
	height: 100%;
	margin: 10px;
	text-align: justify;
	// display: flex;
	// position:relative;
}
.annotation {
	font-family: 'Alegreya', serif;
	color: rgb(131, 127, 127);
	font-size: 20px;
    text-align: left;
	margin-bottom: 5px;
}